h1, h2{color:navy;}
p{font-size:13px;}
:host {
    font-family: Verdana;
    color: #555;
}

td:last-child:hover button {
    visibility: visible;
    /* display: block; */
}
td:last-child .btn{
    /* display: none; */
    visibility: hidden;
}
footer{
    margin: 40px 0px 0px 0px;
    min-height: 100px;
    background-color: silver;
    width: 100%;
    position: relative;
  
}